.loading-state {

  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid #ddd;
  border-top-color: rgb(0, 0, 0);
  animation: loading 1s linear infinite;
}
@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}